.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
    padding-bottom: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.loginButton {
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}
